body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #e0f7fa, #75c3f0);
    color: #ffffff;
}

header {
    background-color: #0c6eca;
    color: white;
    text-align: center;
    padding: 1.5em 0;
    margin-bottom: 2em;
}

main {
    padding: 2em;
}

section {
    background: rgb(3, 67, 121);
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

h2 {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #0c6eca;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 5%;
}

p {
    font-size: 18px;
}

li{
    font-size: 18px;
}

.aa {
    padding-left: 20px;
}

.sub-titulo {
    font-size: 20px;
}

.imagens {
    width: 300px;
    border-radius: 10px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.tamanho-fonte-titulo {
    font-size: 40px;
    text-align: center;
}

.tamanho-fonte-subtitulo {
    font-size: 30px;
    margin-left: 20px;
}

.tamanho-font-texto {
    font-size: 20px;
}

.logo-imagem {
    background-image: url('Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center; 
    padding-right: 2px;
}

.nav-flex {
    display: inline-flex;
    align-items: center;
}

.but{
    text-decoration: none;
    display: block; 
    color: #ffffff;
    border-radius: 10%;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px; 
    margin-left: 100px;
    font-size: 25px;
    background-color: #004177;
}

.title {
    font-size: 40px;
    text-align: center;
    margin-left: 40px;
}

.cor {
    color: #023057;
}

.ola {
    background-color: #004177;
    font-size: 25px;
    border-radius: 5px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
